body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.lightNav{
  background-color: #FAAB78;
  
}
.darkNav{
  background-color: gray;
  color: white;
}
.lightBody{
  background-image: url("./images/backgroundLightTwo.jpeg");
  background-repeat: repeat;
  
  background-color: #ffdca9;
}
.darkBody{
  background-image: url("./images/backgroundDarkTwo.jpeg");
  background-repeat: repeat;
  background-color: black;
  color: white;
}
.darkCard{
  background-color: #0c0c0b;
  color: white;
}
.lightCard{
  background-color: #ffdca9;
}

.theme-btn {
  padding: 2px 15px;
  font-size: 1rem;
  text-align: center;
}